body {
  background: white;
  color: #1b1b1b
}

form {
  width: 100%;
  margin: 0 auto;
}

section {
  min-height: 512px;
  height: 100vh;
  padding: 32px 0;
}

header {
  text-align: center;
}

a{
  color:#1b1b1b;
}

a:hover{
  color: #fd3e7d;

}

.button-neutral {
  background:  #fd3e7d;
  border: none;
  color: #333;
  font-size: 32px;
  padding: 0px;
  margin:0px;
  padding:10px;
  font-size: 1rem;
  border-radius: 10%;
  border-style: solid;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.button-neutral:hover {
  background:  #fd3e7d;
  box-shadow: 5 10px 16px rgba(0, 0, 0, 0.5);
}


.va-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#intro{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding:10%;
}

#begin{
  padding:10px;
  border-radius: 10%;
  border-style: solid;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}

#Submit{
  padding:10px;
  border-radius: 10%;
  border-style: solid;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}

#begin:hover{
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}

label{
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: .85em;
}


#you{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding:0;
  margin:0;
}

#company{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding:0;
  margin:0;

}

#project{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding:0;
  margin:0;

}

#description{
  width: 100%;
}

#upload1{
  font-size: 1rem;
}

#upload2{
  font-size: .80rem;
}

i{
  font-size: 2rem;
  color: #1b1b1b;
}

i:hover{
  color: #fd3e7d;
}

.thankyou-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  justify-items: center;
}

.thankyou{
  margin: 2vw 2vh;
  text-align: center;
}

.hidden{
  display: none;
}